.venv/
env/
**/venv/
**/env/
entornoapp/
node_modules/
.cache/
**/.cache/
enneagram-web/

# Python bytecode
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs
*.log

# Local environment
.env
.env.local